<div class="container-fluid">
    <form [formGroup]="urlForm" (click)="sendUrl()">
        <div class="row">
            <div class="col-lg-12 text-dark">
                <h2>Paste the url here</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                <input type="text" formControlName="longUrl" class="form-control">
            </div>
            <div class="col-lg-2">
                <input type="submit" class="btn btn-primary form-control">
            </div>
        </div>
    </form>
</div>


