<div class="container">
    <table class="table table-danger">
      <thead>
        <tr>
          <th scope="col">Short Url</th>
          <th scope="col">Long Url</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let url of urls">
          <a [href]="url.redirectedUrl" target="blank">
            <td>{{url.redirectedUrl}}</td>
          </a>
          <td>{{url.long}}</td>
          <td><input type="button" value="Delete" class="form-control btn btn-danger" (click)="deleteUrl(url.shortUrl)"></td>
        </tr>
      </tbody>
    </table>
    <input type="button" value="Add Url" class="btn btn-primary" (click)="navigateUrl()">
  </div>